'.source.js':
  'Aqua HTML color code':
    'prefix': 'color-Aqua'
    'body': '#00FFFF$1'
  'Black HTML color code':
    'prefix': 'color-Black'
    'body': '#000000$1'
  'Blue HTML color code':
    'prefix': 'color-Blue'
    'body': '#0000FF$1'
  'Fuchsia HTML color code':
    'prefix': 'color-Fuchsia'
    'body': '#FF00FF$1'
  'Gray HTML color code':
    'prefix': 'color-Gray'
    'body': '#808080$1'
  'Green HTML color code':
    'prefix': 'color-Green'
    'body': '#008000$1'
  'Lime HTML color code':
    'prefix': 'color-Lime'
    'body': '#00FF00$1'
  'Maroon HTML color code':
    'prefix': 'color-Maroon'
    'body': '#800000$1'
  'Navy HTML color code':
    'prefix': 'color-Navy'
    'body': '#000080$1'
  'Olive HTML color code':
    'prefix': 'color-Olive'
    'body': '#808000$1'
  'Purple HTML color code':
    'prefix': 'color-Purple'
    'body': '#800080$1'
  'Red HTML color code':
    'prefix': 'color-Red'
    'body': '#FF0000$1'
  'Silver HTML color code':
    'prefix': 'color-Silver'
    'body': '#C0C0C0$1'
  'Teal HTML color code':
    'prefix': 'color-Teal'
    'body': '#008080$1'
  'White HTML color code':
    'prefix': 'color-White'
    'body': '#FFFFFF$1'
  'Yellow HTML color code':
    'prefix': 'color-Yellow'
    'body': '#FFFF00$1'
