'.source.js':
	'S[flexitrig_append]':
		'prefix': 'flexitrig_append'
		'body': 'flexitrig_append("${1:step_description}",${2:float t_min},${3:float t_max})$4'
	'S[flexitrig_print_steps]':
		'prefix': 'flexitrig_print_steps'
		'body': 'flexitrig_print_steps()$1'
	'S[decoder_gui_get_value]':
		'prefix': 'decoder_gui_get_value'
		'body': 'decoder_gui_get_value("${1:id}")$2'
	'S[flexitrig_gui_get_value]':
		'prefix': 'flexitrig_gui_get_value'
		'body': 'flexitrig_gui_get_value("${1:id}")$2'
