'.source.js':
	'S[pre_decode]':
		'prefix': 'pre_decode'
		'body': 'pre_decode("${1:dec_name}",${2:resume})$3'
	'S[is_pre_decoding]':
		'prefix': 'is_pre_decoding'
		'body': 'is_pre_decoding()$1'
	'S[get_available_samples]':
		'prefix': 'get_available_samples'
		'body': 'get_available_samples(${1:channel_index})$2'
	'S[decoder_gui_get_value]':
		'prefix': 'decoder_gui_get_value'
		'body': 'decoder_gui_get_value("${1:id}")$2'
	'S[trs_reset]':
		'prefix': 'trs_reset'
		'body': 'trs_reset(${1:channel_index})$2'
	'S[trs_get_before]':
		'prefix': 'trs_get_before'
		'body': 'trs_get_before(${1:channel_index},${2:target_sample})$3'
	'S[trs_get_next]':
		'prefix': 'trs_get_next'
		'body': 'trs_get_next(${1:channel_index})$2'
	'S[trs_get_previous]':
		'prefix': 'trs_get_previous'
		'body': 'trs_get_previous(${1:channel_index})$2'
	'S[trs_is_not_last]':
		'prefix': 'trs_is_not_last'
		'body': 'trs_is_not_last(${1:channel_index})$2'
	'S[bit_sampler_init]':
		'prefix': 'bit_sampler_init'
		'body': 'bit_sampler_init(${1:channel_index},${2:start_sample_index},${3:samples_increment})$4'
	'S[bit_sampler_next]':
		'prefix': 'bit_sampler_next'
		'body': 'bit_sampler_next(${1:channel_index})$2'
	'S[dec_item_new]':
		'prefix': 'dec_item_new'
		'body': 'dec_item_new(${1:channel_index},${2:start_sample},${3:end_sample})$4'
	'S[dec_item_end]':
		'prefix': 'dec_item_end'
		'body': 'dec_item_end()$1'
	'S[dec_item_add_sample_point]':
		'prefix': 'dec_item_add_sample_point'
		'body': 'dec_item_add_sample_point(${1:sample_index},"${2:drawing}")$3'
	'S[dec_item_add_content]':
		'prefix': 'dec_item_add_content'
		'body': 'dec_item_add_content("${1:content}")$2'
	'S[dec_item_emphasize_success]':
		'prefix': 'dec_item_emphasize_success'
		'body': 'dec_item_emphasize_success()$1'
	'S[dec_item_emphasize_warning]':
		'prefix': 'dec_item_emphasize_warning'
		'body': 'dec_item_emphasize_warning()$1'
	'S[dec_item_emphasize_error]':
		'prefix': 'dec_item_emphasize_error'
		'body': 'dec_item_emphasize_error()$1'
	'S[set_comment]':
		'prefix': 'set_comment'
		'body': 'set_comment("${1:comment}")$2'
	'S[hex_view_add_byte]':
		'prefix': 'hex_view_add_byte'
		'body': 'hex_view_add_byte(${1:channel_index},${2:start_sample},${3:end_sample},${4:data_byte})$5'
	'S[packet_view_add_packet]':
		'prefix': 'packet_view_add_packet'
		'body': 'packet_view_add_packet(${1:root},${2:ch},${3:start_sample},${4:end_sample},"${5:title}","${6:content}","${7:title_bg_html_color}","${8:content_bg_html_color}")$9'
	'S[get_channel_color]':
		'prefix': 'get_channel_color'
		'body': 'get_channel_color(${1:channel_index})$2'
